<template>
  <v-footer class="pa-3">
  	footer
    <v-spacer></v-spacer>
    <div>&copy; {{ new Date().getFullYear() }}</div>
  </v-footer>
</template>

<script>

export default {


}

</script>

<style>

</style>